flows.json
[
    {
        "id": "0810a50fef13cf49",
        "type": "tab",
        "label": "Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5612d3dae22d78b8",
        "type": "group",
        "z": "0810a50fef13cf49",
        "name": "Global",
        "style": {
            "stroke": "#92d04f",
            "label": true
        },
        "nodes": [
            "bf3324c4df8120cc",
            "e971752f4e86f0b9",
            "7a31c48629f14a8f",
            "d49204b7b290b644",
            "384fec5fbcdafdf7",
            "5d06e16571102535",
            "cb546fbc64ee6dab",
            "dead81051b36fc0b",
            "908b6f805b1030a8",
            "e63e3dffa7bda353",
            "d55c23f5b4fc284c",
            "a67b265e4b0bc024"
        ],
        "x": 34,
        "y": 59,
        "w": 692,
        "h": 202
    },
    {
        "id": "92b1bb103a4ae997",
        "type": "group",
        "z": "0810a50fef13cf49",
        "name": "FromAdmin",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "5b5d01f9d9bb1fcd",
            "7e8e339820f6bf02",
            "1f7cea1f1b360c17",
            "7d287905b0c8d296",
            "29ecc33c52081212",
            "343a090bacfb6d12",
            "566df61d2466e4b1",
            "dd6ebbd36fcf0ae4",
            "48eaba405fc7de76",
            "0d585bffe8de4476",
            "94ce6eb7b6fc6ca2",
            "eac4b616e30ed292",
            "da2ddbf7783194bd",
            "d89b83fe9df91f34",
            "f053f373371e31b2",
            "dfd249ba3110bb72",
            "1594043f60dfb0cd",
            "753902af7e12e4b2",
            "6e9a5a32adfc4155",
            "d50742feb64f5c95",
            "a2de51e60bf0180f",
            "a3c579f231e44bed",
            "61822712ccd02b9e",
            "2246117a89ae4174"
        ],
        "x": 34,
        "y": 279,
        "w": 1012,
        "h": 302
    },
    {
        "id": "d8cfe7b1b3bf43f9",
        "type": "group",
        "z": "0810a50fef13cf49",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "505f8f55258170f4",
            "408047268eb4ca17",
            "e0d2485dc01997da",
            "27b7a38408df90aa",
            "c22074a6b5f02a20",
            "239844ac394e7d3d",
            "e4747a5ccfb01809",
            "0eaf0ec5f00e4453",
            "bd6556927379f58c",
            "5c0e17765992d3e6"
        ],
        "x": 34,
        "y": 599,
        "w": 1292,
        "h": 202
    },
    {
        "id": "664f1e7115a34974",
        "type": "telegram bot",
        "botname": "{global.get('process_env').BOT_NAME}",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "bf3324c4df8120cc",
        "type": "inject",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "d49204b7b290b644"
            ]
        ]
    },
    {
        "id": "e971752f4e86f0b9",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "ENV",
        "func": "const data = msg.payload\n\nlet process_env = {\n    BOT_NAME: data.bot_name,\n    BOT_TOKEN: data.bot_token,\n    OPENAI_API: data.openai_api\n}\n\nglobal.set(\"process_env\", process_env)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7a31c48629f14a8f",
        "type": "complete",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "scope": [
            "7e8e339820f6bf02"
        ],
        "uncaught": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "d49204b7b290b644"
            ]
        ]
    },
    {
        "id": "d49204b7b290b644",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "getEnvs",
        "func": "msg.filename = 'credentials.json'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "384fec5fbcdafdf7"
            ]
        ]
    },
    {
        "id": "5b5d01f9d9bb1fcd",
        "type": "http in",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "url": "/saveCredentials",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "1f7cea1f1b360c17"
            ]
        ]
    },
    {
        "id": "7e8e339820f6bf02",
        "type": "http response",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "saveCredentials",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "1f7cea1f1b360c17",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "set filename",
        "func": "msg.filename = 'credentials.json'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "0d585bffe8de4476"
            ]
        ]
    },
    {
        "id": "7d287905b0c8d296",
        "type": "file",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "29ecc33c52081212"
            ]
        ]
    },
    {
        "id": "29ecc33c52081212",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "return res",
        "func": "msg.payload={\n    success: true,\n    payload: \"Success!\"\n}\nmsg.statusCode = 200\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "7e8e339820f6bf02"
            ]
        ]
    },
    {
        "id": "343a090bacfb6d12",
        "type": "http in",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "url": "/saveContent",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "1594043f60dfb0cd"
            ]
        ]
    },
    {
        "id": "566df61d2466e4b1",
        "type": "http response",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "saveContent",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "dd6ebbd36fcf0ae4",
        "type": "file",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 380,
        "wires": [
            [
                "48eaba405fc7de76"
            ]
        ]
    },
    {
        "id": "48eaba405fc7de76",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "return res",
        "func": "msg.payload={\n    success: true,\n    payload: \"Success!\"\n}\nmsg.statusCode = 200\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 380,
        "wires": [
            [
                "566df61d2466e4b1"
            ]
        ]
    },
    {
        "id": "0d585bffe8de4476",
        "type": "json",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "7d287905b0c8d296"
            ]
        ]
    },
    {
        "id": "94ce6eb7b6fc6ca2",
        "type": "file in",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 480,
        "wires": [
            [
                "eac4b616e30ed292"
            ]
        ]
    },
    {
        "id": "eac4b616e30ed292",
        "type": "json",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "f053f373371e31b2"
            ]
        ]
    },
    {
        "id": "da2ddbf7783194bd",
        "type": "http in",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "url": "/getCredentials",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "dfd249ba3110bb72"
            ]
        ]
    },
    {
        "id": "d89b83fe9df91f34",
        "type": "http response",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "f053f373371e31b2",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "return res",
        "func": "msg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 480,
        "wires": [
            [
                "d89b83fe9df91f34"
            ]
        ]
    },
    {
        "id": "dfd249ba3110bb72",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "set filename",
        "func": "msg.filename = 'credentials.json'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "94ce6eb7b6fc6ca2"
            ]
        ]
    },
    {
        "id": "1594043f60dfb0cd",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "set filename",
        "func": "msg.filename = 'content.json'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "753902af7e12e4b2"
            ]
        ]
    },
    {
        "id": "753902af7e12e4b2",
        "type": "json",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "dd6ebbd36fcf0ae4"
            ]
        ]
    },
    {
        "id": "6e9a5a32adfc4155",
        "type": "file in",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "d50742feb64f5c95"
            ]
        ]
    },
    {
        "id": "d50742feb64f5c95",
        "type": "json",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 540,
        "wires": [
            [
                "61822712ccd02b9e"
            ]
        ]
    },
    {
        "id": "a2de51e60bf0180f",
        "type": "http in",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "url": "/getContent",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "2246117a89ae4174"
            ]
        ]
    },
    {
        "id": "a3c579f231e44bed",
        "type": "http response",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "61822712ccd02b9e",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "return res",
        "func": "msg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 540,
        "wires": [
            [
                "a3c579f231e44bed"
            ]
        ]
    },
    {
        "id": "2246117a89ae4174",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "92b1bb103a4ae997",
        "name": "set filename",
        "func": "msg.filename = 'content.json'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "6e9a5a32adfc4155"
            ]
        ]
    },
    {
        "id": "384fec5fbcdafdf7",
        "type": "file in",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "5d06e16571102535"
            ]
        ]
    },
    {
        "id": "5d06e16571102535",
        "type": "json",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 565,
        "y": 120,
        "wires": [
            [
                "e971752f4e86f0b9"
            ]
        ],
        "l": false
    },
    {
        "id": "dead81051b36fc0b",
        "type": "inject",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "908b6f805b1030a8"
            ]
        ]
    },
    {
        "id": "a67b265e4b0bc024",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "ENV",
        "func": "const data = msg.payload\nconst filterHtmlTags = (text) => {\n    // Remove all HTML tags except for <br> and <br/>\n    const filteredText = text.replace(/<(?!br\\s*\\/?)[^>]+>/gi, '');\n    // Replace <br> and <br/> tags with newline characters\n    return filteredText.replace(/<br\\s*\\/?>/gi, '\\n');\n}\n\n\ndata.welcomeMessage = filterHtmlTags(data.welcomeMessage)\nlet content = {\n    WELCOME_MSG: data.welcomeMessage,\n    INSTRUCTIONS: data.insturctions\n}\n\nglobal.set(\"content\", content)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cb546fbc64ee6dab",
        "type": "complete",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "scope": [
            "566df61d2466e4b1"
        ],
        "uncaught": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "908b6f805b1030a8"
            ]
        ]
    },
    {
        "id": "908b6f805b1030a8",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "getContent",
        "func": "msg.filename = 'content.json'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "e63e3dffa7bda353"
            ]
        ]
    },
    {
        "id": "e63e3dffa7bda353",
        "type": "file in",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "d55c23f5b4fc284c"
            ]
        ]
    },
    {
        "id": "d55c23f5b4fc284c",
        "type": "json",
        "z": "0810a50fef13cf49",
        "g": "5612d3dae22d78b8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 565,
        "y": 200,
        "wires": [
            [
                "a67b265e4b0bc024"
            ]
        ],
        "l": false
    },
    {
        "id": "505f8f55258170f4",
        "type": "telegram receiver",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "",
        "bot": "664f1e7115a34974",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "408047268eb4ca17"
            ],
            []
        ]
    },
    {
        "id": "408047268eb4ca17",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "check command",
        "func": "msg.fromTG = msg.payload\nif (msg.payload.content === '/start'){\n    return [msg, null]\n}else{\n    return [null, msg]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "27b7a38408df90aa"
            ],
            [
                "c22074a6b5f02a20"
            ]
        ]
    },
    {
        "id": "e0d2485dc01997da",
        "type": "telegram sender",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "",
        "bot": "664f1e7115a34974",
        "haserroroutput": false,
        "outputs": 1,
        "x": 730,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "27b7a38408df90aa",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "/start",
        "func": "msg.payload.content = global.get('content').WELCOME_MSG\n\nglobal.set(`history${msg.fromTG.chatId}`, [{ role: 'system', content: `${global.get('content').INSTRUCTIONS}` }, { role: 'assistant', content: `${global.get('content').WELCOME_MSG}`}])\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "e0d2485dc01997da"
            ]
        ]
    },
    {
        "id": "c22074a6b5f02a20",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "to ChatGPT",
        "func": "//set variables\nconst api_key = global.get('process_env').OPENAI_API;\nconst content = msg.fromTG.content;\nlet history = global.get(`history${msg.fromTG.chatId}`) || [];\n\n//ChatGPT properties\nmsg.url = 'https://api.openai.com/v1/chat/completions';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${api_key}`\n};\n\nmsg.payload = {\n    \"model\": \"gpt-3.5-turbo\",\n    \"messages\": [\n        ...history,\n        { \"role\": \"user\", \"content\": content}\n    ]\n}\n\n// update global variables\nhistory.push({ \"role\": \"user\", \"content\": content });\nglobal.set(`history${msg.fromTG.chatId}`, history);\nglobal.set('sent', false)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 720,
        "wires": [
            [
                "239844ac394e7d3d",
                "5c0e17765992d3e6"
            ]
        ]
    },
    {
        "id": "239844ac394e7d3d",
        "type": "http request",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "ChatGPT",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 720,
        "wires": [
            [
                "0eaf0ec5f00e4453",
                "bd6556927379f58c"
            ]
        ]
    },
    {
        "id": "e4747a5ccfb01809",
        "type": "telegram sender",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "",
        "bot": "664f1e7115a34974",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1210,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "0eaf0ec5f00e4453",
        "type": "function",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "send to user from chat",
        "func": "const responseChatGPT = msg.payload.choices[0].message.content\nlet history = global.get(`history${msg.fromTG.chatId}`) || [];\n\nmsg.payload = {\n    ...msg.fromTG,\n    content: responseChatGPT,\n    type: \"message\",\n}\n\nif (global.get('sent') == false) {\n    global.set('sent', true)\n\n    history.push({ \"role\": \"assistant\", \"content\": responseChatGPT });\n    global.set(`history${msg.fromTG.chatId}`, history);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 720,
        "wires": [
            [
                "e4747a5ccfb01809",
                "bd6556927379f58c"
            ]
        ]
    },
    {
        "id": "bd6556927379f58c",
        "type": "debug",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "from chatGPT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 740,
        "wires": []
    },
    {
        "id": "5c0e17765992d3e6",
        "type": "debug",
        "z": "0810a50fef13cf49",
        "g": "d8cfe7b1b3bf43f9",
        "name": "to gpt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 760,
        "wires": []
    }
]